@page
@model WebSite.Pages.EspecialidadesMedicas.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Detalle Especialidad</h1>
<p>Estos son los datos disponibles para la especialidad.</p>

<div class="row">
    <div class="col-md-4">
        <div class="card">            
                <div class="card-body">                    
                    <div class="mb-3">
                        <label asp-for="EspecialidadesMedica.Nombre" class="form-label"></label>
                        <input asp-for="EspecialidadesMedica.Nombre" class="form-control" disabled/>                        
                    </div>
                    <div class="mb-3">
                        <label asp-for="EspecialidadesMedica.Descripcion" class="form-label"></label>
                    <textarea asp-for="EspecialidadesMedica.Descripcion" class="form-control" row="3" disabled></textarea>
                    </div>
                    <div class="mb-3 form-group form-check">
                        <label class="form-check-label">
                        <input class="form-check-input" asp-for="EspecialidadesMedica.Activo" disabled /> @Html.DisplayNameFor(model => model.EspecialidadesMedica.Activo)
                        </label>
                    </div>
                    <div class="mb-3 form-group">
                    <label asp-for="EspecialidadesMedica.Creacion" class="form-label"></label>
                    <input asp-for="EspecialidadesMedica.Creacion" class="form-control" disabled/>
                    </div>   
                </div>
                <div class="card-footer">
                    
                    <a asp-page="./Edit" class="btn btn-secondary me-2" asp-route-id="@Model.EspecialidadesMedica?.EspecialidadMedicaId"><i class="bi bi-pencil me-2"></i>Editar</a> 
                    <a asp-page="./Index">Volver a la lista</a>
                    
                </div>
        </div>
    </div>
</div>

